@import '../../vendor/variables.scss';

.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;

  &__element {
    border: 1px solid $orange;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    line-height: 42px;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &__element.active {
    background-color: $orange;
  }
  &__element.active &__button {
    color: #fff;
  }
  &__button {
    color: $orange;
    position: relative;
    top: 2px;
    margin: 0;
    text-decoration: none;
  }
}
