@import '../../vendor/variables.scss';

.root {
  display: flex;
  gap: 10px;

  a {
    display: inline-block;
    border: 1px solid $orange;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    color: $orange;
    position: relative;
    top: 1px;

    &:hover {
      background-color: $orange;
      color: #fff;
    }
  }

  :global {
    .selected {
      a {
        color: #fff;
        background-color: $orange;
      }
    }
  }
}
