.error {
  margin: 100px auto;
  max-width: 450px;
  text-align: center;
}

.error__title {
  color: #232323;
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 10px 0;
  line-height: normal;
  letter-spacing: 0.32px;
}

.error__text {
  font-size: 20px;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  line-height: 145.4%;
  letter-spacing: 0.18px;
  margin: 0;
}

@media screen and (max-width: 800px ) {
  .error {
    max-width: 350px;
  }

  .error__title {
    font-size: 26px;
  }
  
  .error__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .error {
    max-width: 270px;
  }

  .error__title {
    font-size: 18px;
  }
  
  .error__text {
    font-size: 11px;
  }
}
