.root {
  margin: 100px auto;
  width: 500px;
  text-align: center;

  h2 {
    color: #232323;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: normal;
    letter-spacing: 0.32px;
  }
  p {
    font-size: 20px;
    color: #777;
    font-size: 18px;
    font-weight: 400;
    line-height: 145.4%;
    letter-spacing: 0.18px;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .root {
    max-width: 350px;
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .root {
    max-width: 270px;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 11px;
    }
  }
}
