.title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.32px;
  margin: 32px 0 35px;
}

.pizza-list {
  width: 100%;
  padding-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 65px;
  grid-column-gap: 55px;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 26px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
}
