.root {
  position: relative;
  margin-left: -260px;
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    outline: none;
    width: 400px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  button {
    border: none;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    position: absolute;
    right: 20px;
    top: 17px;
  }
}
