.root {
  position: relative;
  margin-left: -260px;
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 42px;
    outline: none;
    width: 400px;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  button {
    cursor: pointer;
    position: absolute;
    top: 14px;
    border: none;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button__search {
    left: 17px;
    // transform: scaleX(-1);
  }

  .button__clear {
    right: 17px;
  }

  img {
    width: 20px;
    height: 20px;
    opacity: 0.3;

    &:hover {
      opacity: 0.8;
    }
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
}
