.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sort__label {
  display: flex;
  justify-content: space-between;
}

.sort__image {
  margin-right: 7px;
}

.sort__text {
  margin: 0;
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
}

.sort__text-option {
  margin-left: 8px;
  color: #fe5f1e;
  font-weight: 400;
  border-bottom: 1px dashed #fe5f1e;
}
/* 
.sort__label.active .sort__popup {
  visibility: visible;
} */

.sort__popup {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  margin-top: 15px;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 20px;
  /* visibility: hidden; */
  transition: visibility .3s;
  visibility: visible;
}

.sort__list {
  padding: 0;
}

.sort__link {
  box-sizing: border-box;
  padding: 12px 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.21px;
  list-style-type: none;
}

.sort__link_active {
  background-color: rgba(254, 95, 30, 0.05);
  color: #FE5F1E;
  font-weight: 700;
}